html {font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
audio:not([controls]) {display:none;height:0}
[hidden],template {display:none}
a {background-color:transparent}
a:active,a:hover {outline:0}
abbr[title] {border-bottom:1px dotted}
b,strong {font-weight:bold}
dfn {font-style:italic}
h1 {font-size:2em;margin:0.67em 0}
mark {background:#ff0;color:#000}
small {font-size:80%}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup {top:-0.5em;bottom:-0.25em}
img {border:0}
svg:not(:root) {overflow:hidden}
figure {margin:1em 40px}
hr {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre {overflow:auto}
code,kbd,pre,samp {font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea {color:inherit;font:inherit;margin:0}
button {overflow:visible}
button,select {text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled] {cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0}
input {line-height:normal}
fieldset {border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend {border:0;padding:0}
textarea {overflow:auto}
optgroup {font-weight:bold}
table {border-collapse:collapse;border-spacing:0}
td,th {padding:0}
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html {font-size:12px;-webkit-tap-highlight-color:transparent}
body {font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333333;background-color:#ffffff}
input,button,select,textarea {font-family:inherit;font-size:inherit;line-height:inherit}
figure {margin:0}
img {vertical-align:middle}
hr {margin:5px auto;border:0;border-top:1px solid #eeeeee}
fieldset {padding:0;margin:0;border:0;min-width:0}
legend {display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333333;border:0;border-bottom:1px solid #e5e5e5}
label {display:inline-block;max-width:100%;margin-bottom:5px;font-weight:bold}
output {display:block;padding-top:7px;font-size:14px;line-height:1.42857143;color:#555555}
video,embed,iframe {max-width:100%}
img {max-width:100%}
.hide {display:none !important}
.clearfix:before,.clearfix:after,.container:before,.container:after {display:table;content:"";line-height:0}
.clearfix:after,.container:after {clear:both}
a,input,.thumb {-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a {color:#555;text-decoration:none}
a:hover,a:focus {text-decoration:none}
a:hover {color:#FF6651}
a:focus {outline:0;color:#555}
body {font-size:14px;line-height:1.4;color:#555;overflow-x:hidden;background-color:#FFF;background:#fff;}
.container {max-width:1280px;text-align:left;position:relative;margin:0 auto;padding-left:15px;padding-right:15px}
.content-wrap {width:100%;float:left;margin-bottom:10px}
.content {position:relative}
.single-post .content {margin-right:370px;padding:0 10px;background-color:#fff;border:1px solid #eaeaea;border-radius:4px;}
.sidebar {float:left;width:360px;margin-left:-360px;margin-bottom:10px;padding:0 5px;background-color:#fff;border:1px solid #eaeaea;border-radius:4px;}
.header {width:100%;border-bottom:1px solid #eee;background-color:#fff;/*box-shadow:1px 0 5px rgba(0,0,0,0.06)*/}
.logo {float:left;overflow:hidden;margin:5px 26px 5px 0px;font-size:1px;line-height:40px;color:#fff}
.logo span {display:none}
.logo a {display:block}
.logo img {display:block;max-height:40px}
.sitenav {float:left;font-size:18px;}
.sitenav>ul>li.menu-item-has-children:hover>a::before {border-top-color:#FF6651}
.sitenav>ul>li.menu-item-has-children>a {position:relative;padding-right:15px}
.sitenav>ul>li.menu-item-has-children>a::before,.sitenav>ul>li.menu-item-has-children>a::after {content:'';position:absolute;top:50%;right:0;border-left:5px solid transparent;border-right:5px solid transparent}
.sitenav>ul>li.menu-item-has-children>a::before {border-top:5px solid #555}
.sitenav>ul>li.menu-item-has-children>a::after {border-top:5px solid #fff;margin-top:-1px}
.sitenav ul {list-style:none;padding:0;margin:0}
.sitenav ul>li {position:relative;float:left;margin-right:26px}
.sitenav ul>li:hover {z-index:8;}
.sitenav ul>li>a {display:block;color:#555;border-bottom:2px solid transparent;padding:12px 3px}
.sitenav ul li:hover>a,.sitenav ul li.active a:hover,.sitenav ul li a:hover {color:#FF6651;}
.sitenav ul li:hover>.sub-menu {visibility:visible;opacity:1;margin-top:-1px}
.sitenav ul li.current-menu-item>a,.sitenav ul li.current-menu-parent>a {color:#FF6651;border-bottom-color:#FF6651}
.sitenav ul .sub-menu {-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;visibility:hidden;opacity:0;position:absolute;top:100%;left:50%;margin-top:-25px;background-color:#fff;font-size:14px;padding:6px 0;border:1px solid #999;box-shadow:0 0 10px rgba(0,0,0,0.1);line-height:32px;width:100px;margin-left:-50px;list-style:none;text-align:center;border-radius:2px}
.sitenav ul .sub-menu::before,.sitenav ul .sub-menu::after {content:'';position:absolute;top:-5px;left:50%;margin-left:-3px;border-left:5px solid transparent;border-right:5px solid transparent}
.sitenav ul .sub-menu::before {border-bottom:5px solid #555}
.sitenav ul .sub-menu::after {border-bottom:5px solid #fff;margin-top:1px}
.sitenav ul .sub-menu li {margin-right:0;float:none}
.sitenav ul .sub-menu li a {display:block;padding:0 15px;border-bottom:none}
.sitenav ul .sub-menu li a:hover {background-color:#eee;color:#555}
.sitenav ul ul .sub-menu {left:100%;margin-left:0;top:-6px}
.sitenav ul ul .sub-menu::before,.sitenav ul ul .sub-menu::after {left:-5px;transform:rotate(-90deg);margin-top:23px}
.sitenav ul ul .sub-menu::after {margin-left:-2px}
.red-navbar .font-text {background:#f40;color:#fff;padding:4px 8px;border-radius:2px}
.red-navbar .font-text:hover {background:#00aeff;transition:all.2s ease-in 0s}
.red-navbar .fontawesome-text {padding:4px 8px;border-radius:2px}
.searchform {float:right;margin-top:8px}
.searchform .sinput {float:left;color:#999;border:solid 1px #eee;width:120px;height:32px;padding:4px 8px;border-right:none;font-size:14px;border-radius:2px 0 0 2px;outline:none}
.searchform .sinput:focus {border-color:#FF6651}
.searchform .sbtn {float:right;color:#fff;background-color:#FF6651;height:32px;border:none;padding:4px 10px;font-size:14px;border-radius:0 2px 2px 0;outline:none;opacity:0.9}
.searchform .sbtn:hover {opacity:1}
.searchstart-on .fa,.searchstart-off .fa {font-size:18px}
.sitenav-on {display:none;position:absolute;top:0;left:0;z-index:95;line-height:80px;padding:0 15px;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.sitenav-on .fa {font-size:18px}
.sitenav-mask {display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:90;background-color:#222;background-color:rgba(0,0,0,0.7);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.excerpts-wrapper {overflow:hidden;margin-top:2px}
.excerpts {margin-right:-2%;overflow: hidden;}
.excerpt {position:relative;display:inline-block;margin-right:1.7%;margin-bottom:2.5%;vertical-align:top;border:1px solid #eaeaea;padding:10px 10px 10px 10px;overflow:hidden;background-color:#fff;float:left;margin-right:12px;margin-bottom:10px;}
.excerpt:hover .thumb {-webkit-transform:scale(1.03);-moz-transform:scale(1.03);transform:scale(1.03)}
.excerpt h2 {font-size:14px;margin:0 0 5px;height:19px;overflow:hidden;font-weight:bold;}
.excerpt .thumbnail {margin-bottom:10px;display:block;overflow:hidden}
.excerpt .thumb {width:100%}
.excerpt footer {font-size:12px;color:#888}
.excerpt time {display:inline-block;margin:0 5px 0 0}
.excerpt .post-view {float:right;}
.excerpt-c5 {width:18.8%}
.article-header {padding-bottom:7.5px}
.article-title {font-size:24px;margin:0 0 9px;font-weight:bold;margin-top:9px;text-align:center;white-space: nowrap;display: block;text-overflow: ellipsis;overflow: hidden;}
.article-meta {color:#999;margin-bottom:4px;text-align:center;}
.article-meta .item {margin-right:15px;display:inline-block}
.article-content {padding:0 0 8px 0;word-wrap:break-word;font-size:16px;line-height:190%;color:#666;/*min-height:720px;*/}
.article-content img {max-width:100%;height:auto;margin-top:10px;min-width:55%;}
.article-content h1,.article-content h2,.article-content h3,.article-content h4,.article-content h5,.article-content h6,.article-content p {margin:0 0 30px}
.article-content a {color:#333;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:80%;display:block;}
.article-content a:hover {color:#0087fb}
.article-content p {margin-bottom:30px}
.article-actions {margin:5px 0;text-align:center;}
.article-nav {clear:both;overflow:hidden;color:#999;font-size:12px;margin-bottom:10px}
.article-nav a {font-size:14px;white-space:nowrap;display:block;text-overflow:ellipsis;overflow:hidden;}
.article-nav .article-nav-prev {float:left;width:50%}
.article-nav .article-nav-next {float:right;width:50%;text-align:right}
.postitems {margin-bottom:10px}
.postitems h3 {margin:0 0 15px;line-height:1;font-size:15px;font-weight:bold}
.postitems ul {list-style:none;padding:0;overflow:hidden;margin:0 -15px 0 0}
.postitems ul:after {display:block;content:'';clear:both}
.postitems li {width:calc(25% - 15px);margin-right:15px;/*margin-bottom:22.5px;*/  display:inline-block;vertical-align:top}
.postitems li .thumb {margin-bottom:5px}
.widget {clear:both;position:relative;margin-bottom:9px;margin-top:6px;}
.widget h3 {font-weight:bold;line-height:1;font-size:18px;color:#666;border-bottom:1px solid #eaeaea;background-color:#fbfbfb;padding:5px;margin-bottom:5px;/*margin-top:18px;*/}
.widget ul {list-style:none;padding:0;margin:0}
.widget ul:before,.widget ul:after {display:table;content:"";line-height:0}
.widget ul:after {clear:both}
.widget-asst {border-radius:2px;overflow:hidden;text-align:center}
.widget-asst img {display:block;margin:0 auto}
.widget-postlist {margin-bottom:6px;/*margin-top:22.5px !important;*/}
.widget-postlist ul {margin-right:-15px}
.widget-postlist li {display:inline-block;vertical-align:top;width:calc(50% - 18px);margin-right:18px;margin-bottom:8px}
.widget-postlist .thumb {margin-bottom:10px}
.footer {position: relative;z-index: 9;clear: both;padding:25px 30px;font-size:12px;text-align:center;color:#CACACA;background:#555 url(../img/footer_bg.gif) repeat-x;border-top:1px solid #eaeaea;}
.footer a {color:#bbb}
.footer a:hover {color:#999}
.rollbar {position:fixed;right:15px;bottom:15px;z-index:99;width:50px;display:none}
.rollbar .rollbar-item {position:relative;margin-top:10px;text-align:center;height:50px;border-radius:2px;background-color:#666;color:#fff;opacity:0.5;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.rollbar .rollbar-item:hover {color:#fff;opacity:0.9}
.rollbar .rollbar-item .fa {line-height:50px;font-size:24px}
.excerpts .fa-play-circle-o {position:absolute;bottom:35%;left:43%;font-size:38px;color:#fff;text-shadow:0 1px 1px #000;}
.fa-camera {color:#C876CB;}
.fa {display:inline-block;font:normal normal normal 14px/1 FontAwesome;}
* {zoom:1}
* {margin:0;padding:0;list-style:none;}
.links {position:relative;min-height:1px;padding-right:15px;padding-left:15px;width:100%;}
.links .list-inline {padding-left:0;margin-left:-5px;list-style:none;}
.links .list-unstyled {padding-left:0;list-style:none;}
.links .text-center {text-align:center;max-width: 1280px;margin: 0 auto;}
.links .links-title {line-height:45px;height:45px;font-size:18px;color:#555;background:url(../img/bg_friendlink.jpg) center center no-repeat;}
.links .list-inline {padding-left:0;margin-left:-5px;list-style:none;}
.links ul {margin-top:0;margin-bottom:10px;}
.links .links-txt li {line-height:30px;color:#505050;}
.links .list-inline > li {display:inline-block;padding-right:5px;padding-left:5px;}
.links ul a {color:#888;font-size:15px;}
.page5 {text-align:center;width:100%;overflow:hidden}
.page5 a {color:#666;display:inline-block;font-size:14px;height:30px;line-height:30px;padding:0 12px;border-radius:2px;border:1px solid#C1C1C1;text-align:center;margin:3px 3px}
.page5>b,.page5 a {color:#666;display:inline-block;font-size:14px;height:30px;line-height:30px;padding:0 12px;border-radius:2px;border:1px solid#C1C1C1;text-align:center;margin:3px 3px}
.page5>b,.page5 a:hover {border:1px solid#FF6651;margin-top:-2px;background:#FF6651;border-radius:2px;color:white;display:inline-block;font-size:14px;height:30px;line-height:30px;padding:0 12px;text-align:center;margin:3px 3px;}
.page5 a {color:#000;border:#999 1px solid}
.multi {margin-bottom:15px;padding:0;height:18px;line-height:3px;}
.excerpt .cat {background-color:#f30;color:#fff;padding:2px 4px;font-size:16px;position:absolute;top:13px;right:13px;z-index:3;text-align:right;border-radius:3px;}
.multi .more {float:right !important;margin-right:38px;}
.thumbnail {border:none;padding:0;margin:0;display:block;line-height:1.42857143;background-color:#fff;border-radius:4px;transition:all .2s ease-in-out;}
.thumbnail > img {margin-right:auto;margin-left:auto;height:162px;}
.thumb-right {border:none;padding:0;margin:0;display:block;line-height:1.42857143;background-color:#fff;border-radius:4px;transition:all .2s ease-in-out;}
.thumb-right > img {margin-right:auto;margin-left:auto;height:122px}
.widget-postlist h2 {font-size:14px;margin:0 0 1px;height:19px;overflow:hidden;font-weight:bold;}
img.pcimgpic {margin: 2px 0 ;height:75px}
img.Phoneimgpic {margin: 2px 0 ;}
/*AD*/
.top {width:100%;padding-bottom:10px;}
.top li {margin-top:2px}
.top img {width:100%;max-height: 120px;}
.foot {width:100%}
.foot li {margin-top:2px}
.foot img {width:100%;max-height: 120px;}
.list {width:100%;/*min-height:780px;*/}
.list li {position:relative;list-style:none;padding:0;padding-left:10px;width:100%;height:39px;border-top:1px solid #eee;vertical-align:baseline;text-align:left;line-height:35px;}
.list li span {position:absolute;top:2px;left:80%;width:20%;padding-right:10px;text-align:right;}
.listtop {width:100%;margin-top:2px}
.listtop img {width:100%;margin-bottom:2px;margin-top:0;text-align:center;}
/*LINK*/
.link {width:100%;overflow:hidden;border-top:#7D8C8E solid 1px;border-left:#7D8C8E solid 1px;margin-top:2px;}
.link li {font-size: 16px;line-height: 30px;width:16.66%;text-align:center;list-style-type:none;border-bottom:#7D8C8E solid 1px;border-right:#7D8C8E solid 1px;background-color:#f1f1f1;float:left;margin:0;white-space: nowrap;display: block;text-overflow: ellipsis;overflow: hidden;}
.link li a{color:black;}
.clear {clear:both}
@media (max-width:980px) {.header {top:0;left:0;right:0}
.single-post .content-wrap {float:none;width:100%}
.single-post .content {margin-right:0}
.single-post .sidebar {float:none;width:auto;margin-left:0;margin-top:45px}
.single-post .content {}
.searchstart-on,.searchstart-off {display:none;position:absolute;top:0;right:0;line-height:40px;padding:0 15px;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.searchstart-on {line-height:40px;display:block}
.searchform {display:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.searchform-active .searchform {position:absolute;top:0;left:15px;right:45px;z-index:96;padding:4px 0 0 0;margin-top:0;display:block;background-color:#fff;float:none}
.searchform-active .searchform .sinput {width:100%;float:none;border-radius:2px}
.searchform-active .searchform .sbtn {float:none;position:absolute;right:0;opacity:1}
.logo {float:none;margin-left:60px;margin-right:60px;text-align:center}
.logo img {margin:0 auto 0;max-height:30px;}
.sitenav {position:fixed;top:0;right:100%;bottom:0;width:80%;padding:80px 0 0;z-index:91;font-size:14px;background-color:#fff}
.sitenav>ul {overflow-y:auto;-webkit-overflow-scrolling:touch;position:absolute;top:40px;left:0;bottom:0;right:0}
.sitenav>ul>li a {font-weight:bold}
.sitenav>ul>li.menu-item-has-children>a::before,.sitenav>ul>li.menu-item-has-children>a::after {display:none}
.sitenav ul li {float:none;margin-right:0}
.sitenav ul li a {line-height:1;padding:12px 15px}
.sitenav ul li:hover>a,.sitenav ul li.active a:hover,.sitenav ul li a:hover {background-color:#eee}
.sitenav ul li:hover>.sub-menu {visibility:visible;opacity:1;margin-top:0}
.sitenav ul li.current-menu-item>a {color:#fff;background-color:#FF6651;border-bottom:none}
.sitenav ul li.current-menu-parent>a {color:#FF6651;border-bottom:none}
.sitenav ul .sub-menu {display:none;position:relative;visibility:visible;opacity:1;margin-top:0;margin-left:30px;left:0;padding:0;width:auto;font-size:12px;box-shadow:none;border:none;background-color:transparent;text-align:left}
.sitenav ul .sub-menu::before,.sitenav ul .sub-menu::after {display:none}
.sitenav ul .sub-menu li a {padding:12px 15px}
.sitenav-on {display:block;line-height:40px;-webkit-transition-duration:500ms;transition-duration:500ms;top:2px;}
body {-webkit-transition-duration:400ms;transition-duration:400ms}
.sitenav-mask {display:block;opacity:0;visibility:hidden}
.sitenav-active {position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;-webkit-transform:translateX(80%);transform:translateX(80%)}
.sitenav-active .sitenav-mask {opacity:1;visibility:visible}
.sitenav-active .sitenav-on {left:-80%;}
.sitenav-active .sitenav ul .sub-menu {display:block}
.article-title {font-size:16px;margin:5px 0;}
.article-header {padding-bottom:2px}
.sidebar {display:none !important;}
.postitems {display:none !important;}
/*.links {display:none !important;}*/
.article-meta {font-size:12px}
.article-meta .item {margin-right:10px}
.widget-postlist li {width:calc(25% - 15px)}
.rollbar {right:-100px}
.red-navbar {display:none !important;}
.widget-asst {display:none !important;}
.multi {margin-bottom:5px;margin-top:5px;padding:0;height:15px;line-height:3px;font-size:14px}
.multi .more {float:right !important;margin-right:15px;}
.excerpt h2 {font-size:12px;height:31px}
.article-content {font-size:14px;min-height:10px;}
.content-wrap {margin-bottom:5px;}
.single-post .content {margin-top:5px !important;}
.list li {font-size:12px}
.top {padding-bottom:0px;}
}
@media (max-width:1112px) {.sitenav ul>li {margin-right:15px;}
}
@media (max-width:1024px) {.excerpt {width:23.3%}
.red-navbar {display:none}
}
@media (min-width:980px) {.searchstart-on,.searchstart-off {display:none;position:absolute;top:0;right:0;line-height:80px;padding:0 15px;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
}
@media (max-width:980px) {.thumbnail > img {max-width:100%;height:152px;}
.link {display:none}
#demo2840 {display:none}
}
}
@media (max-width:800px) {.thumbnail > img {max-width:100%;height:120px;}
.excerpt {width:23.3%}
}
@media (max-width:768px) {.thumbnail > img {max-width:100%;height:115px;}
}
@media (max-width:740px) {.thumbnail > img {max-width:100%;height:109px;}
.excerpt {width:23.1%}
.excerpt footer {font-size:11px}
}
@media (max-width:667px) {.thumbnail > img {max-width:100%;height:96px;}
.excerpt {width:23%}
.multi .more {margin-right:15px;}
.excerpt footer {font-size:10px}
}
@media (max-width:640px) {.excerpt {width:22.7%}
.thumbnail > img {max-width:100%;height:90px;}
.excerpt .post-view {display:none}
.excerpt footer {text-align:center;}
.excerpt footer {font-size:11px}
}
@media (max-width:568px) {.excerpt {width:22%}
.thumbnail > img {max-width:100%;height:77px;}
}
@media (max-width:560px) {.excerpt {float:left;width:49%;margin:0;min-height:80px;padding:10px;background-image:-webkit-linear-gradient(rgba(0,0,0,.15) 50%,transparent 50%);background-size:100% 1px;background-repeat:no-repeat;background-position:bottom}
.excerpt .post-view {display:inline;float:right;}
.excerpt footer {text-align:left;}
.thumbnail > img {max-width:100%;height:178px;}
}
@media (max-width:533px) {.excerpt {float:left;width:50%;}
.thumbnail > img {max-width:100%;height:172px;}
.excerpt {width:49%}
.list li span {top:1px;width:21%;}
}
@media (max-width:436px) {.list li span {display:none !important;}
.article-content a {width:100%;}
}
@media (max-width:414px) {.thumbnail > img {max-width:100%;height:127px;}
.list li {line-height:38px;}
}
@media (max-width:384px) {.thumbnail > img {max-width:100%;height:116px;}
}
@media (max-width:375px) {.thumbnail > img {max-width:100%;height:112px;}
}
@media (max-width:360px) {.thumbnail > img {max-width:100%;height:106px;}
.excerpt .post-view {display:none}
.excerpt footer {text-align:center;}
}
@media (max-width:320px) {.thumbnail > img {max-width:100%;height:92px;}
}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
video,embed,iframe {max-width:100%}
.gg {text-align:center;background-color:#0CF;color:#fbfbfb;padding:5px;border-radius:4px;font-size:16px;margin-top:3px;margin-bottom: 2px;}
.article-content.img {text-align:center;}
.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
/*mobile*/
.mobile_box{width:540px;height:500px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.mobile_box img{border:none;border-width:0;}
.mobile_close{float:right;display:inline-block;}
.mobile_tit{width: 100%;height: 75px;text-align: center;line-height: 35px;color: #a3a3a3;font-size: 16px;background: url('../img/mobile-title-bg.jpg');font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.mobile_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.mobile_img{width:260px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:260px;}
.mobile_img img{display:block;text-align:center;width:228px;height:228px; }
.mobile_info{clear:both;}
.mobile_info p,.mobile_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;margin-top:10px}
/*顶部跟随*/
.fixednav {/*position: fixed;*/top: 0px;left: 0px;width: 100%;z-index: 99;}
/*MENU*/
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;zoom:1;}
.l {float:left;}
.r {float:right;}
.menu {position:relative;float:left;width:25%;height:35px;line-height:35px;background:#fff;border-right:1px solid #ebebeb;box-sizing:border-box;-webkit-box-sizing:border-box;}
.menu:last-child {border-right:none;}
.new-sub {position:absolute;bottom:45px;z-index:999;width:100%;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #EEEEEE;border-radius:5px;display:none;}
.new-sub li {width:100%;background:#fff;float:none;box-sizing:border-box;-webkit-box-sizing:border-box;border-top:1px solid #f2f2f2;}
.new-sub li a {display:block;height:35px;line-height:35px;text-align:left;background:#fff;color:#333;border:none;text-align:center;font-size:16px;}
.sanjiao {position:absolute;bottom:2px;right:2px;width:0;height:0;border:5px solid transparent;border-right:5px solid #000;border-bottom:5px solid #000;opacity:.5;}
.bt-name {font-size:16px;color:#000;}
.bt-name a {display:block;font-size:16px;color:#000;}
.new-sub .tiggle {width:0px;height:0px;position:absolute;left:50%;margin-left:-10px;bottom:-9px;border-top:10px solid #EEEEEE;border-left:10px solid transparent;border-right:10px solid transparent;z-index:999;}
.new-sub .innertiggle {width:0px;height:0px;position:absolute;left:50%;margin-left:-9px;bottom:-8px;border-top:9px solid white;border-left:9px solid transparent;border-right:9px solid transparent;z-index:999;}
/*弹屏*/
.appdown{position:fixed;top:50%;left:50%;margin-top:-128px;margin-left:-150px;height:auto;min-height:60px;z-index:99;}
.appdown img{display:block;width:1px;height:1px;z-index:99}
.appdown .close{display:block;width:1px;height:1px;background-color:#499df2;color:#fff;position:absolute;top:50%;z-index:99;overflow:hidden;margin-right:113px;margin-top:-125px;font-family:"Microsoft yahei",arial,PingFangSC-Regular,sans-serif;font-size:15px;padding:1px;border-radius:3px;margin-left: 2px;}
@media (min-width:980px) {.btn3 {display:none}
.appdown {display:none}
.menu {display:none}
.float {display:none}
.top{/*margin-top: 52px;*/}
}
@media (max-width:980px) {
.footer{margin-bottom:100px;}
img.imgpic{height:78px}
.top{/*margin-top:40px;/*118*/}
}
.videoplayer {width:100%;height:508px;}
@media (max-width:640px) {.videoplayer {width:100%;height:260px;}
.gg {padding:2px;font-size:12px}
}
/*首页推荐*/
.indexleft{width: 50%;float: left;margin-right: 0px;padding: 0 10px;background-color: #fff;border: 1px solid #eaeaea;border-radius: 4px;}
.indexright{width: 50%;float: right;margin-right: 0px;padding: 0 10px;background-color: #fff;border: 1px solid #eaeaea;border-radius: 4px;}
@media (max-width:980px) {
.indexleft{width: 100%;float: none;margin-top: 5px;}
.indexright{width: 100%;float: none;margin-top: 5px;margin-bottom: 5px;}
.index{padding-left: 5px;padding-right: 5px;}
}
.view-top{margin-bottom: 5px;}

.btn a{display: block;height: 120px;width: 100%;}
.btn3 {position:fixed;z-index:999;bottom:0px;/*border:0px solid #b3b3b3;border-bottom:1px solid #b3b3b3;background:#e6e6e6;*/height: 200px;width:100%;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;}
.btn3 a{display: block;height: 200px;width: 100%;}
.btn3 img{height:120px;width:100%;border:0;margin-top: 80px;}